/**
 * Patriots Colors
 */

 .text-blue-pats {
    color: #002244;
  }
  
  .bg-blue-pats {
    background-color: #002244;
  }
  
  .border-blue-pats {
    border-color: #002244;
  }
  
  .text-red-pats {
    color: #c60c30;
  }
  
  .bg-red-pats {
    background-color: #c60c30;
  }
  
  .border-red-pats {
    border-color: #c60c30;
  }
  
  .pats-red {
    color: #C60C30;
  }
  .pats-blue {
    color: #002244;
  }
  
  .patriots {
    color: white;
    background: #002244;
    border: 0.25em solid #C60C30;
  }
  
  .patriots a {
    color: white;
    text-decoration: underline;
  }
  
  .patriots-red {
    color: white;
    background: #C60C30;
    border: 0.25em solid #002244;
  }
  
  .patriots-white {
    color: #002244;
    background: white;
    border: 0.25em solid #C60C30;
  }
  
  /* Team Colors */
  
  .miami-dolphins {
    color: white;
    background: #008D97;
    border: 0.25em solid #F5811F;
  }
  .buffalo-bills {
    color: white;
    background: #00338D;
    border: 0.25em solid #C60C30;
  }
  .new-york-jets {
    color: white;
    background: #0C371D;
    border: 0.25em solid white;
  }
  .kansas-city-chiefs {
    color: white;
    background: #B20032;
    border: 0.25em solid #F2C800;
  }
  .oakland-raiders,
  .las-vegas-raiders {
    color: #C4C8CB;
    background: black;
    border: 0.25em solid #C4C8CB;
  }
  .denver-broncos {
    color: #002244;
    background: #FB4F14;
    border: 0.25em solid #002244;
  }
  .los-angeles-chargers{
    color: #0C2340;
    background: #FFB81C;
    border: 0.25em solid #0072CE;
  }
  .pittsburgh-steelers {
    color: #FFB612;
    background: black;
    border: 0.25em solid #FFB612;
  }
  .baltimore-ravens {
    color: #D0B240;
    background: #280353;
    border: 0.25em solid #D0B240;
  }
  .cincinnati-bengals {
    color: white;
    background: #FB4F14;
    border: 0.25em solid black;
  }
  .cleveland-browns {
    color: #512F2D;
    background: #FE3C00;
    border: 0.25em solid #512F2D;
  }
  .houston-texans {
    color: white;
    background: #02253A;
    border: 0.25em solid #B31B34;
  }
  .tennessee-titans {
    color: white;
    background: #648FCC;
    border: 0.25em solid #0D254C;
  }
  .indianapolis-colts {
    color: white;
    background: #003B7B;
    border: 0.25em solid white;
  }
  .jacksonville-jaguars {
    color: #D7A22A;
    background: #006778;
    border: 0.25em solid black;
  }
  .dallas-cowboys {
    color: white;
    background: #0D254C;
    border: 0.25em solid #87909B;
  }
  .new-york-giants {
    color: white;
    background: #192F6B;
    border: 0.25em solid #CA001A;
  }
  .washington-redskins,
  .washington-commanders {
    color: #FFB612;
    background: #773141;
    border: 0.25em solid #FFB612;
  }
  .philadelphia-eagles {
    color: #C0C0C0;
    background: #003B48;
    border: 0.25em solid #708090;
  }
  .seattle-seahawks {
    color: #A5ACAF;
    background: #002244;
    border: 0.25em solid #69BE28;
  }
  .arizona-cardinals {
    color: white;
    background: #9B2743;
    border: 0.25em solid black;
  }
  .los-angeles-rams {
    color: #C9AF74;
    background: #13264B;
    border: 0.25em solid #C9AF74;
  }
  .san-francisco-49ers {
    color: #E6BE8A;
    background: #AF1E2C;
    border: 0.25em solid #E6BE8A;
  }
  .green-bay-packers {
    color: #FFB612;
    background: #203731;
    border: 0.25em solid #FFB612;
  }
  .detroit-lions {
    color: #C5C7CF;
    background: #006DB0;
    border: 0.25em solid #C5C7CF;
  }
  .minnesota-vikings {
    color: #F0BF00;
    background: #582C81;
    border: 0.25em solid #F0BF00;
  }
  .chicago-bears {
    color: #DD4814;
    background: #03202F;
    border: 0.25em solid #DD4814;
  }
  .atlanta-falcons {
    color: white;
    background: #A6192D;
    border: 0.25em solid black;
  }
  .tampa-bay-buccaneers {
    color: white;
    background: #D60A0B;
    border: 0.25em solid #89765F;
  }
  .new-orleans-saints {
    color: #D2B887;
    background: black;
    border: 0.25em solid #D2B887;
  }
  .carolina-panthers {
    color: white;
    background: #0088CE;
    border: 0.25em solid #A5ACAF;
  }
  
  .team-circles {
    float: left;
    width: 8em;
    text-align: center;
    border-radius: 50%;
    margin: 1em;
    font-weight: 300;
    line-height: 1;
    height: 8em;
    box-shadow: 6px 8px 13px 0 rgb(4 4 4 / 17%);
  }
  
  .circle-inner {
    padding: 1em;
    padding-top: 2.3em;
  }
  